<h1>affektive / emotionale F채higkeiten</h1>

<%= form_for @screening, url: wizard_path do |f| %>
<%= f.label :'affektive Schwingungsf채higkeit'%>
<%= f.number_field 'Schwingungsfaehigkeit', in: 1...6 %>
<%= f.label :Realit채tsbezug%>
<%= f.number_field 'Aggressivitaet', in: 1...6 %>
<%= f.label :Selbstbild%>
<%= f.number_field 'Frustrationstoleranz', in: 1...6 %>
<%= f.label :'Stimmung / Gef체hlslage' %>
<%= f.number_field 'Stimmung', in: 1...6 %>
<%= f.label :Motivation %>
<%= f.number_field 'Motivation', in: 1...6 %>

<%= f.submit "weiter" %>
<% end %>
