<div style="justify-content:center;" class="container">
  <div style="padding-left: 8px;" class="cardwrapper">

    <h2 style="text-align:center;">Anmelden</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :username, "Kundennummer" %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :passwort %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <br>
      <%# if devise_mapping.rememberable? %>
        <div class="field">
          <%#= f.check_box :remember_me %>
          <%#= f.label :remember_me %>
        </div>
      <%# end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>

</div>
